body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightslategray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.game-tile {
  background-color: teal;
  flex: 0 0 32%;
  height: 150px;
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: 10px, 10px, black;
}

.game-tile-active {
  background-color: yellowgreen;
  flex: 0 0 32%;
  height: 150px;
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: 10px, 10px, black;
  justify-content: space-around;
  text-align: center;
  display: grid;
  flex-wrap: wrap;
}

.game-board {
  margin: auto;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
}

#game-tile-active {
  justify-self: center;
}

.game-tile {
  justify-content: space-around;
  display: flex;
}

#banner-main {
  text-shadow: 2px 2px rgb(121, 158, 18);
  font-weight: bolder;
  font-size: 50px;
  background-color: yellowgreen;
  margin: auto;
  color: teal;
  justify-content: space-around;
  display: flex;
  padding: 3px;
}

.main-nav {
  list-style-type: none;
  margin: auto;

  justify-content: space-evenly;
  background-color: teal;
  display: flex;
  padding: 8px;
  border-color: rgb(1, 92, 92);
  border-width: 5px;
  border-style: solid;
}

.nav-link {
  display: inline;
}

#welcome-box {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  justify-content: space-around;
  background-color: yellowgreen;
  width: 50%;
  border-color: rgb(1, 92, 92);
  border-style: solid;
  padding: 10px;
  text-align: center;
}

#container {
  padding: 10px;
  text-align: center;
  margin: auto;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: white;
}

.score-list {
  justify-content: space-around;
  text-align: center;
  display: grid;
  flex-wrap: wrap;
  background-color: whitesmoke;
  width: 50%;
  margin: auto;
  padding: 1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: rgb(0, 92, 92);
  border-style: ridge;
  background-color: teal;
  color: white;
}

#score-container {
  margin-top: 15px;
}

.wrapper {
  justify-content: space-around;
  text-align: center;
  display: grid;
  flex-wrap: wrap;
  background-color: gray;
  width: 50%;
  margin: auto;

  border-color: rgb(0, 92, 92);
  border-style: ridge;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#form-container {
  justify-content: space-around;
  text-align: center;
  display: grid;
  flex-wrap: wrap;
  padding-top: 0px;
  padding: 10px;
  background-color: teal;
  width: fit-content;
  margin: auto;
  color: white;
}

.form-wrapper {
  text-align: center;
}

.button {
  background-color: rgb(0, 92, 92);
  text-decoration: none;
  border: none;
  color: white;
  padding: 5px;
  font-size: 15px;
}

.button:hover {
  background-color: white;
  color: rgb(0, 92, 92);
}

#name-input {
  background-color: rgb(1, 160, 160);
  border: none;
  margin-right: 3px;
  margin-left: 3px;
  color: white;
}

#start-button {
  margin-top: 50%;
  font-weight: bolder;
  font-size: 25px;
  border-radius: 10px;
}

.score-display-box {
  justify-content: space-around;
  text-align: center;
  display: grid;
  flex-wrap: wrap;
  background-color: whitesmoke;
  width: 50%;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding: 1px;
  border-radius: 5px;
  border-color: rgb(0, 92, 92);
  border-style: ridge;
  background-color: teal;
  color: white;
}

#score-display-name {
  background-color: rgb(0, 92, 92);
}
